/* CSS file for Batch 13, Assignment 02 by M Khaledur Rashid */

* {
    /* reset all the default margin & padding and add Google Font */
    margin: 0;
    padding: 0;
    background-color: #230e3d;
    /* background-color: aquamarine; */
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: white;
}

/* ==================Shared Styles====================== */
.btn-main {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    
    /* button linear background as per figma design */
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
}

.btn-regular {
    color: #00FF88;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #00FF88;
    border-radius: 25px;
    padding: 10px 20px;
}

.btn-small {
    color: black;
    background-color: #00FF88;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #00FF88;
    border-radius: 15px;
    padding: 5px 10px;
}

section {
    margin: 100px 0;
}

.section-title {
    margin-bottom: 40px;
    text-align: center;
    background: transparent;
}
.section-title h2 {
    font-size: 3rem;
    font-weight: 800;
}

/* -----------end of 'Shared Styles' part----------- */

/* Header and navbar section */
header {
    max-width: 1200px;
    height: 92px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
    height: 32px;
    width: auto;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
}


/* Hero-Banner Section */
.hero-banner {
    width: 100%;
    max-width: 1600px;
    height: 760px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.hero-banner .banner-image {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    background-image: url("../assets/hero-circle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    position: relative;  

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-banner .banner-image img {
    width: 116px;
    height: 175px;
    background: transparent;
    display: block;
}

.banner-image .btn-small {
    position: absolute;
    top: 12px;
    right: 12px;
}

.hero-banner .banner-title {
    font-size: 3.75rem;
    font-weight: 900;
    margin-top: 40px;
}

.hero-banner .banner-text {
    font-size: 1rem;
}

.hero-banner .banner-buttons {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}







/* About Section */
.about-the-podcast {
    max-width: 1200px;
    margin:  0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-the-podcast .about-section-text01, .about-section-text02 {
    font-size: 1rem;
    color: white;
}

.about-the-podcast .about-section-text01 {
    margin-bottom: 16px;
}

/* stats part */
.stats-part {
    width: 100%;
    margin-top: 180px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stats-part h1, i {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}
  
.stats-part h5 {
    font-size: 1rem;
}


/* --------------------- */
.nav-logo {
    font-size: 3rem;
    font-weight: 700;
    color: white;
}


/* Why-Choose Section */
.why-choose {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #230e3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why-choose .all-why-choose-contents {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* border: 1px solid white; */
    padding-bottom: 120px; 
}

.why-choose .all-why-choose-contents .section-title {
    text-align: center;
}

.why-choose .all-why-choose-contents .h2 {
    color: #ffffff;
    font-size: 2.5rem;
    margin: 0;
}

.why-choose-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.why-choose-cards .individual-card {
    background-color: #2a0f4d;
    border-radius: 30px;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.why-choose-cards .individual-card .card-icon {
    width: 60px;
    margin-bottom: 16px;
}

.why-choose-cards .individual-card .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 15px; 
    background-color: #2a0f4d;   
}

.why-choose-cards .individual-card .card-text {
    font-size: 1rem;
    line-height: 1.6;
    background-color: #2a0f4d;
}



/* ...........arrangement of individual card in the grid layout for desktop screen........... */

/* card-A > 1 column, 2 rows */
.why-choose-cards .individual-card:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: span 2;
}

/* card-B: 2 columns, 1 row */
.why-choose-cards .individual-card:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

/* card-C: 2 columns, 1 row */
.why-choose-cards .individual-card:nth-child(3) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

/* card-D: 1 row, 1 column */
.why-choose-cards .individual-card:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

/* card-E: 1 row, 1 column */
.why-choose-cards .individual-card:nth-child(5) {
    grid-column: 3 / 3;
    grid-row: 3 / 4;
}



/* Section - 'featured-episodes' */
.featured-episodes {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: cen;
}

.podcast-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
}


.podcast-cards .each-podcast-card {
    background-color: #250D44;
    border-radius: 30px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.podcast-cards .each-podcast-card .card-image img {
    width: 100%;
    display: block;
    border-radius: 30px 30px 0 0;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}

.podcast-cards .each-podcast-card .card-text-contents {
    background: transparent;
    padding: 24px;
    color: white;
}

.card-text-contents > * {
    margin-bottom: 12px;
}

.podcast-cards .each-podcast-card .card-title {
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #250D44;
}

.podcast-cards .each-podcast-card .card-description {
    font-size: 1rem;
    background-color: #250D44;
    /* font-weight: 400;   */
}

.podcast-cards .each-podcast-card .card-clock {
    color: #00FF88;
    background-color: #250D44;
    font-size: 1rem;
    font-weight: 600;
}

.podcast-cards .each-podcast-card .card-clock i {
    color: #00FF88;
    font-size: 1rem;
    padding-right: 10px;
}

.podcast-cards .each-podcast-card .clickable-image {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
}

.podcast-cards .each-podcast-card .clickable-image:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Meet the host section */
.meet-the-host {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
    background-color: #1a0b2e;
}

.image-and-text-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 24px 40px;
    border-radius: 25px;
    background-color: #1a0b2d;
}

.host-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.text-and-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-and-icons .text-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}


.text-and-icons .text-details { 
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 16px;
} 

.host-social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.social-icon {
    width: 40px;              
    height: 40px;
    border: 1px solid rgb(221, 56, 194);  
    border-radius: 50%;       
    display: flex;            
    align-items: center;
    justify-content: center;
}

.social-icon img {
    width: 20px;              
    height: 20px;
    object-fit: contain;
    border-radius: 50%;      
}





/* Footer Section */

footer {
    width: 100%;
    max-width: 1600px;
    min-height: 300px;
    margin: 0 auto;
    background: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .logo-part img {
    max-height: 60px;
}

footer .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 32px 0;
}

footer .social-icons p {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 1.25rem;
    color: white;
    margin: 0;
}

footer .footer-copyright {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin: 0;
}
